details.controls {
  max-width: 500px;
  width: 100%;
  margin: .2rem;
  border-radius: .3rem;
  border: 1px solid;
  overflow: hidden;
}

details.controls summary {
  font-size: 1.2rem;
  border-bottom: 1px solid;
  padding: .5rem;
}

details.controls>div,
details.controls>div>div {
  padding: 0.5rem;
}

details.controls>div>div {
  /** TODO: Remove this workaround for two column layout controls scrolling. */
  padding-bottom: 5rem;
}

details.controls input[type=search] {
  width: 100%;
  padding: 0.3rem;
  margin: 0.3rem 0px;
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px;
}

details.controls div.select>label,
details.controls div.control-section {
  font-size: 1.2rem;
  padding: 0.2rem;
}

details.controls div.select {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.controls fieldset {
  display: block;
  min-inline-size: min-content;
  margin-bottom: 4px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  padding: 4px;
  border-radius: 3px;
}


.controls fieldset legend {
  display: block;
  unicode-bidi: isolate;
  padding-inline: 2px;
  font-size: .8rem;
}

.controls option {
  font-size: 1rem;
  height: 1.2rem;
  padding: 0.2rem;
}

.controls select optgroup {
  padding: 0.2rem;
}

.controls select hr {
  border: 1px solid grey;
  margin: 0;
}

/**
 * Ensure padding isn't introduced when forcing the browser out of quirks mode.
 * This might have something to do with the invisible checkbox.
 */
#tree-range-select-buttons>div div {
  margin-top: -15px;
}

/** Keep the lines dense when forcing the browser out of quirks mode. */
#tree-range-select-buttons>div div>label * {
  line-height: 0.7rem;
}