@media only screen and (max-width: 600px) {
  #tree-range-select-buttons {
    height: 10rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .layout-columns {
    display: flex;
    width: 100%;
    /* Why does this overflow? Details elements? */
    height: 90%;
  }

  #summary-accordion {
    /* min-width: 50px; */
    flex: 1 0 auto;
    width: min-content;
  }

  #tree-range-select-buttons {
    /* height: 100% !important; */
    min-height: 9rem;
    min-height: 40rem;
  }

  #tree_root {
    /* flex: 4 1 500px; */
    overflow: auto;
  }

  .summary {
    overflow: auto;
  }

  details>div {
    /* Why does this overflow? Details elements? */
    height: 90%;
    overflow: auto;
  }
}