@media only screen and (max-width: 600px) {
  #tree-range-select-buttons {
    height: 10rem !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  #tree-range-select-buttons {
    height: 10rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .layout-columns {
    display: flex;
    width: 100%;
    /* Why does this overflow? Details elements? */
    height: 90%;
  }

  #summary-accordion {
    flex: 1 2 500px;
    width: fit-content;
  }

  #tree-range-select-buttons {
    height: fit-content !important;
    overflow: hidden !important;
  }

  #tree_root {
    flex: 2 1 500px;
    min-width: 500px;
    overflow: auto;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
  }

  .summary,
  details>div {
    overflow: auto;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
    /* Why does this overflow? Details elements? */
    height: 90%;
  }
}