#tree-range-select-buttons {
  overflow: auto;
}

#tree-range-select-buttons li,
#exact-match-buttons li {
  list-style: none;
}

#tree-range-select-buttons ul,
#exact-match-buttons ul {
  padding-inline-start: 20px;
}

/** Hide the radiobox. */
#tree-range-select-buttons input[type=radio],
#exact-match-buttons input[type=radio] {
  opacity: 0;
  height: 1px;
  visibility: hidden;
  overflow: hidden;
}

#tree-range-select-buttons label div,
#exact-match-buttons label div {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
  margin: 2px;
}

#tree-range-select-buttons label:hover,
#exact-match-buttons label:hover {
  cursor: pointer;
}

#tree-range-select-buttons input:checked+label div {
  background-color: #a5dc86;
  box-shadow: none;
}