body {
  font-family: Helvetica, Arial;
  padding: 1.5rem;
}

.regular_list ul,
.regular_list li {
  list-style: disc;
  margin-left: 0.2rem;
  padding: 0.2rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  padding: 1rem;
}

p,
div.summary {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #303030;

  a {
    color: #3e7774;
  }
}

small {
  font-size: 0.65rem;
}