body {
  font-family: Helvetica, Arial;
}

ul.regular_list,
.regular_list li {
  list-style: disc;
  margin-left: 0.5rem;
  padding: 0.2rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  padding: 1rem;
}

p,
div.summary {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #303030;

  a {
    color: #3e7774;
  }
}

small {
  font-size: 0.65rem;
}

#status {
  font-size: 0.65rem;
  padding: 0.65rem
}

#uninstalled-badge {
  font-size: small;
  height: 1rem;
  background-color: rgb(255, 189, 115);
  border-radius: 5px;
  padding: 2px;
  margin-left: 1rem;
}